
<div class="jumbotron">
<h1>Importar Motor</h1>
  <%= form_tag import_motors_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn" %>
    <%= submit_tag "Importar", class: "btn btn-lg btn-primary", id:"link-b" %>
  <% end %>
</div>