<div class="jumbotron">
  <%= form_tag import_pumps_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn" %>
    <%= submit_tag "Importar", class: "btn btn-lg btn-primary", id:"link-b" %>
  <% end %>
</div>