<h1>Analisis informacion ingresada</h1>

<div>
	<p>
		Lista de caudales:
		<%= @caudales %>
	</p>
</div>

<div>
	<p>
		Lista de alturas:
		<%= @alturas %>
	</p>
</div>

<p>
	Lista de eficiencias:
	<%= @eficiencias %>
</p>

<p>
	Lista de potencias:
	<%= @potencias %>
</p>

<p>
	Aca hay que mostrar los graficos para ver que puntos sacar. 
	Ojo que en la lectura del csv lee solo un decimal, entonces todas las eficiencias son 0
</p>

