<h1>Analisis informacion ingresada</h1>

<p>
	Aca hay que mostrar los graficos para ver que puntos sacar. 
	Ojo que en la lectura del csv lee solo un decimal, entonces todas las eficiencias son 0
</p>

<%= grafico_circular @curva_h %>

<%= @curva_h %>



